.main-fav-title {
  text-transform: uppercase;
  margin-left: 5vw;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: left;
}

.main-view_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 40px;

  button {
    padding: 8px 16px;
    margin: 0 8px;
    background-color: #ec1d24;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  span {
    font-size: 16px;
    color: #333;
  }
}

.character-detail {
  display: flex;
  flex-direction: column;

  .character-detail__header-container {
    background-color: black;
    width: 70vw;
    height: 320px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 98% 100%, 0 100%);
    padding: 0 15vw;

    .character-detail__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      .character-detail__image {
        height: 320px;
        width: 320px;
      }
      .character-detail__header-text {
        color: white;
        min-width: 600px;
        .character-detail__header-text__title {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          .character-detail__name {
            font-size: 40px;
            font-weight: 700;
            line-height: 46.88px;
            text-align: left;
            text-transform: uppercase;
          }
          .character-details__fav {
            width: 32px;
            height: 32px;
            cursor: pointer;
          }
        }
        .character-detail__description {
          font-size: 16px;
          font-weight: 400;
          line-height: 18.75px;
          text-align: left;
        }
      }
    }
  }
  .character-detail__comics {
    margin: 48px auto;
    width: 70vw;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
      margin-left: 5px;
      text-transform: uppercase;
    }

    .character-detail__comics-list {
      display: flex;
      overflow-x: auto;
      padding-bottom: 10px;
      scrollbar-width: thin;
      scrollbar-color: #ec1d24 transparent;

      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #ec1d24;
        border-radius: 4px;
      }

      .comic-card {
        flex: 0 0 auto;
        width: 268px;
        margin-right: 16px;
        border-radius: 8px;
        overflow: hidden;
        text-align: left;
        padding: 10px;

        .comic-card__image {
          width: 100%;
          height: auto;
        }

        .comic-card__title {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .comic-card__date {
          font-size: 12px;
        }
      }
    }
  }
}
