.main-fav-title {
  text-transform: uppercase;
  margin-left: 5vw;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  button {
    padding: 8px 16px;
    margin: 0 8px;
    background-color: #ec1d24;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  span {
    font-size: 16px;
    color: #333;
  }
}
