.character-card {
  height: 245px;
  width: 188px;
  background-color: black;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 93% 100%, 0 100%);
}

.character-card__image {
  height: 190px;
  width: 188px;
  border-bottom: 5px solid #ec1d24;
}

.character-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.character-card__details-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: white;
  text-transform: uppercase;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.character-card__details-fav {
  height: 16px;
  width: 16px;
  object-fit: contain;
  cursor: pointer;
}
