.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #20232a;
  color: white;
}

.header-logo {
  height: 40px;
  width: auto;
}

.header-favorites {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  height: 75px;
  width: 75px;
}
