.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #20232a;
  color: white;
}

.header-logo {
  height: 40px;
}

.header-favorites {
  color: rgb(166, 43, 43);
  cursor: pointer;
  font-size: 1.5rem;
  height: 100px;
  width: 100px;
}
