* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none; /* Remove default background */
  border: none; /* Remove default border */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  font: inherit; /* Inherit font styles */
  cursor: pointer; /* Show pointer cursor */
  text-align: center; /* Center text */
  line-height: normal; /* Reset line height */
  display: inline-block; /* Display inline block for layout */
  box-shadow: none; /* Remove default shadow */
}

//Pages
.home,
.about,
.playground {
  background-color: #ffffff;
  color: rgb(181, 8, 8);
  height: 90vh;
}

.home__container,
.about__container,
.playground__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94vw;
  margin: auto;
}

.home__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 94vw;
  margin: auto;
}
